PORT=3333
JWT_SECRET=meu-bolao-secret-key

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=meu_bolao_db

# Pontuação dos palpites
EXACT_RESULT_POINTS=10
WINNER_AND_GOAL_DIFFERENCE_POINTS=7
WINNER_ONLY_POINTS=5
ONE_TEAM_GOALS_POINTS=2
TOTAL_PRIZE=100
